article h1 {
    color: #000000;
    font-size: 1.6em;
    margin: 0.4em 0;
    display: inline-block;
}

select, input[type=text] {
    padding: 0.1em 0.2em;
    margin-right: 0.2em;
}

/* 관리자 메인 - 타이틀 */
.admin_main_title {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#search {
    align-self: center;
}

#search input[value='상품 등록하기'] {
    margin: auto 0;
    padding: 0.3em 0.8em;
    color: #666666;
    border: 1px solid #666666;
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

#search input[value='상품 등록하기']:hover {
    background-color: #f6f5f5;
    font-weight: bold;
}

/* 기간 조회 폼 */
table.search_option {
    margin: 0.2em 0 1em;
}

table.search_option td {
    padding: 0.2em 2em 0.2em 0;
}

table.search_option label {
    padding-left: 0.2em;
    padding-right: 3em;
}

table.search_option input[type="button"],
#btn_search {
    padding: 0.1em 0.6em;
    border-radius: 2px;
    border: 1px solid #666666;
    background-color: #f6f5f5;
    color: #666666;
}

table.search_option input[type="button"]:hover,
#btn_search:hover {
    background-color: #ffffff;
    color: #494949;
}

table.search_option a.btn_search {
    padding: 0.2em 0.4em;
    font-size: 0.75em;
    margin-right: 0.4em;
    border-radius: 5px;
    border: 1px solid #666666;
    background-color: #f6f5f5;
    color: #666666;
    cursor: pointer;
}

table.search_option a.btn_search:last-child {
    margin-right: 0.8em;
}

table.search_option a.btn_search:hover {
    background-color: #ffffff;
    font-weight: bold;
}

/* 리스트 테이블 */
.list_view {
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 0.75em;
    margin: 12px 0 4em;
    border-top-color: rgb(51, 51, 51);
    border-top-width: 2px;
    border-top-style: solid;
    border-collapse: collapse;
    text-align: center;
}

.list_view thead tr {
    padding: 0.3em;
    background-color: #1e5da2;
    color: #ffffff;
    font-size: 1em;
}

.list_view tbody tr {
    /*background-color: #ffffff;*/
}

.list_view tr {
    margin: 0px;
    padding: 10px 0px;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.list_view.admin_goods_list tbody tr:hover {
    background-color: #f6f5f5;
}

.list_view.order_history tbody tr:hover {
    opacity: 80%;
    color: #000000;
}

.list_view tr:last-child {
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.list_view td {
    margin: 0px;
    padding: 10px 0.4em;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    word-break: auto-phrase;
}

.list_view a:hover {
    color: #1FA393;
}

.list_view.order_history a:hover {
    font-weight: bold;
}


.detail_table tr {
    min-height: 1em;
}

.detail_table tr:nth-child(even) {
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
}

.detail_table th {
    background-color: #e8eef6;
    padding: 0.3em 0.4em;
    width: 6em;
}

.customer_info td input {
    margin: 0;
}

.delivery_status {
    display: flex;
    justify-content: space-between;
    height: 4em;
    padding: 0;
    border-bottom: 2px solid #000000;
    margin-bottom: 6em;
}

.delivery_status h1 {
    width: 70%;
    height: fit-content;
    margin-bottom: 0;
}

.delivery_status .detail_table table {
    border: none;
    width: fit-content;
}

.delivery_status .detail_table table td {
    max-width: 6em;
    text-align: right;
}

/* 회원 상세 정보 - 주소 테이블 */
.address_info p {
    margin: 0.4em auto;
    display: grid;
    grid-template-columns: 7em auto;
}

.address_info p label {
    font-size: 0.9em;
    margin: 0.2em 0.4em;
    padding: 0;
}

/* 버튼 */
.list_view input[value='배송 수정'] {
    padding: 0.1em 0.3em;
    background-color: #f6f5f5;
    border: 1px solid #666666;
    border-radius: 2px;
}

input[value='목록으로'] {
    padding: 0.3em 1em;
    font-size: 1em;
    background-color: #f6f5f5;
    border: 1px solid #666666;
    border-radius: 5px;
}

input[value='목록으로']:hover {
    background-color: #ffffff;
    color: #494949;
}

a.search_zipcode {
    display: inline;
    padding: 0.2em 0.6em;
    text-align: center;
    color: #494949;
    font-size: 0.9em;
    border: 1px solid #666666;
    border-radius: 2px;
    background-color: #f6f5f5;
}

section#center input {
    padding: 0.4em 1em;
    border-radius: 5px;
    font-size: 0.9em;
}

section#center input[type=submit] {
    margin-right: 0.4em;
    border: 1px solid #1e5da2;
    background-color: #1e5da2;
    color: #ffffff;
}

section#center input[type=reset] {
    margin-right: 0.4em;
    border: 1px solid #666666;
    background-color: #f6f5f5;
}

section#center input[type=button] {
    border: 1px solid #494949;
    background-color: #494949;
    color: #ffffff;
}

section#center input:hover {
    opacity: 90%;
}

section#center input[type=reset]:hover {
    opacity: unset;
    background-color: #ffffff;
    color: #666666;
}

/* 페이징 버튼 */
.page_controller {
    width: 100%;
}

.page_controller tr td {
    text-align: center;
}

.page_controller a {
    margin-right: 0.3em;
}

.page_controller a.btn_next {
    color: #666666;
}

.page_controller a:hover {
    color: #1FA393;
}
