/* 정보 수정 페이지 */
article h1 {
    color: #000000;
    font-size: 1.6em;
    margin: 0.4em 0;
    display: inline-block;
}
/* 정보 수정 */
#detail_table {
    color: #494949;
    margin-bottom: 4em;
}

.frmMyDetailInfo #detail_table th {
    background-color: #e8eef6;
    color: #494949;
    width: 6.6em;
}

.frmMyDetailInfo #detail_table td {
    width: auto;
}

#detail_table input[type=text],
#detail_table input[type=password] {
    padding: 0.1em 0.4em;
    margin-right: 1em;
}

#detail_table label {
    padding-left: 0.2em;
    padding-right: 3em;
}

#detail_table input#btnOverlapped,
#detail_table button.search_zipcode {
    display: inline;
    padding: 0.2em 0.6em;
    text-align: center;
    color: #494949;
    font-size: 0.9em;
    font-weight: 400;
    border: 1px solid #666666;
    border-radius: 2px;
    background-color: #f6f5f5;
}

#detail_table input#btnOverlapped:hover,
#detail_table button.search_zipcode:hover {
    background-color: #ffffff;
    color: #666666;
}

#detail_table select {
    padding: 0.1em 0.2em;
    margin-right: 0.2em;
}

.address_info p {
    margin: 0.4em auto;
    display: grid;
    grid-template-columns: 7em auto;
}

#detail_table td.address_info p label {
    font-size: 0.9em;
    margin: 0.2em 0.4em;
    padding: 0;
}

section#center input {
    padding: 0.4em 1em;
    border-radius: 5px;
    font-size: 0.9em;
}

section#center input[type=submit] {
    margin-right: 0.4em;
    border: 1px solid #1e5da2;
    background-color: #1e5da2;
    color: #ffffff;
}

section#center input[type=reset] {
    margin-right: 0.4em;
    border: 1px solid #666666;
    background-color: #f6f5f5;
}

section#center input[type=button] {
    border: 1px solid #494949;
    background-color: #494949;
    color: #ffffff;
}

section#center input:hover {
    opacity: 90%;
}

section#center input[type=reset]:hover {
    opacity: unset;
    background-color: #ffffff;
    color: #666666;
}
/* 마이페이지 메인 */
/* 기본 배송지 정보 */
.default_orderer_info {
    display: block;
    width: 100%;
    padding: 0.2em 0.4em;
    margin-bottom: 4em;
    border-top: 2px solid #494949;
    border-bottom: 1px solid #494949;
    border-collapse: collapse;
}
.default_orderer_info p {
    padding: 0.4em 0;
    display: grid;
    grid-template-columns: 6em auto;
}

.default_orderer_info p span.info_caption {
    grid-column: 1/2;
    font-weight: bold;
}

.default_orderer_info span.info_value {
    grid-column: 2/3;
}

.default_orderer_info p:nth-child(even) {
    border-top: 1px dotted #494949;
    border-bottom: 1px dotted #494949;
}

.default_orderer_info th {
    text-align: left;
    width: 4em;
}

/* 최근 주문 내역, 주문 상세 정보 */
.list_view {
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 0.75em;
    margin: 12px 0 6em;
    border-top-color: rgb(51, 51, 51);
    border-top-width: 2px;
    border-top-style: solid;
    border-collapse: collapse;
    text-align: center;
}

.list_view thead tr {
    padding: 0.3em;
    background-color: #1e5da2;
    color: #ffffff;
    font-size: 1em;
}

.list_view tr {
    margin: 0px;
    padding: 10px 0px;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.list_view tr.solid_line,
.list_view tr:last-child {
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.list_view td {
    margin: 0px;
    padding: 10px 0.4em;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.list_view h2 {
    padding: 0px 0px 2px;
    font-size: 1em;
    font-weight: bold;
}

.list_view input.cancel_unavailable {
    padding: 0.1em 0.4em;
    border-radius: 2px;
    border: 1px solid #c2c2c2;
    background-color: #c2c2c2;
    color: #494949;
    cursor: not-allowed;
}

.list_view input.cancel_unavailable:hover {
    background-color: #c2c2c2;
    color: #494949;
}

.list_view input.cancel_available {
    padding: 0.1em 0.4em;
    border-radius: 2px;
    background-color: #f6f5f5;
    border: 1px solid #666666;
    color: #666666;
    cursor: pointer;
}

.list_view input.cancel_available:hover {
    background-color: #ffffff;
    color: #494949;
}

form[name="form_order"] h2 {
    margin: 0.4em 0;
}

.customer_info table tr:nth-child(even) {
    border-top: 1px dotted #494949;
    border-bottom: 1px dotted #494949;
}

button.redirect_main {
    padding: 0.3em 1em;
    font-size: 1em;
    background-color: #f6f5f5;
    border: 1px solid #666666;
    border-radius: 5px;
}

button.redirect_main:hover {
    background-color: #ffffff;
    color: #494949;
}

button.view_more {
    font-size: 0.6em;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #f6f5f5;
    border-radius: 50px;
    padding: 0.1em 0.4em;
    cursor: pointer;
}

button.view_more span {
    color: #1e5da2;
    font-size: 0.6em;
}

/* 주문 내역 페이지 */
/* 기간 조회 폼 */
table.search_option {
    margin: 0.2em 0 1em;
}

table.search_option td {
    padding: 0.2em 2em 0.2em 0;
}

table.search_option label {
    padding-left: 0.2em;
    padding-right: 3em;
}

table.search_option input[type="button"] {
    padding: 0.1em 0.6em;
    border-radius: 2px;
    border: 1px solid #666666;
    background-color: #f6f5f5;
    color: #666666;
}

table.search_option input[type="button"]:hover {
    background-color: #ffffff;
    color: #494949;
}

table.search_option a.btn_search {
    padding: 0.2em 0.4em;
    font-size: 0.75em;
    margin-right: 0.4em;
    border-radius: 5px;
    border: 1px solid #666666;
    background-color: #f6f5f5;
    color: #666666;
    cursor: pointer;
}

table.search_option a.btn_search:last-child {
    margin-right: 0.8em;
}

table.search_option a.btn_search:hover {
    background-color: #ffffff;
    font-weight: bold;
}

.list_view .list_title {
    text-align: left;
}

.list_view td.goods_image {
    width: 80px;
}

.list_view td.goods_description {
    width: 500px;
    padding-left: 5px;
}

.list_view td.goods_description .writer_press {
    padding: 2px 5px;
    color: rgb(51, 102, 255);
}

.list_view td.goods_description p {
    line-height: 1.2em;
}

.list_view td.price {
    padding: 0px 0px 0px 10px;
    width: 70px;
}

.list_view td.price span {
    text-decoration: line-through;
}
