body {
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Song+Myung&display=swap');
    margin: 0;
    padding: 0;
    background-color: white;
}

h2 {
    text-align: center;
    color: #333;
    margin : 50px 0 50px 0;
}

.detailView {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.detailView colgroup {
    width: 15% 35% 15% auto;
}

.detailView th, .detailView td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: large;
}

.detailView th {
    background-color: #35497a;
    color: white;
}

.detailView tr:nth-child(even) {
    background-color: #f2f2f2;
}

.detailView td[colspan="3"] {
    white-space: pre-wrap;
}

.detailView img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}


button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items:center;
    justify-content: center;
}

.btnedit {
    font-size: 20px;
    color: black;
    background-color:#3dd5f3;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    margin-left: 43%;
}

.btndel {
    font-size: 20px;
    color: black;
    background-color: #ee2a27;
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

.btnrep {
    font-size: 20px;
    color: white;
    background-color: red;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    margin-left: 43%;
}

.btnlist {
    font-size: 20px;
    color: black;
    width: 150px;
    height: 45px;
    border-radius: 10px;
}