<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.BoardMapper">

    <!--신수진-->



    <!--최경락-->
    <!-- 회원 목록을 누적신고횟수 내림차순으로 정렬   -->
    <select id="selectBoardCate" parameterType="map" resultType="Post">
        SELECT *
        FROM board
        WHERE cateMain IN (#{5}, #{6})
    </select>

    <select id="selectUser" parameterType="map">
        SELECT *
        FROM user
        ORDER BY reportCnt DESC
    </select>
    <!--  아이디로 회원 검색  -->
    <select id="selectUserById" parameterType="String" resultType="User">
        SELECT *
        FROM user
        WHERE user_id LIKE CONCAT('%', #{userId}, '%')
    </select>
    <!-- 가입 승인?   -->
    <update id="approveUser" parameterType="String">
        UPDATE user
        SET userStatus = approve
        WHERE user_id = #{userId}
    </update>
    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="map">
        UPDATE boardComment
        SET
        comContent = #{newComContent}
        modDate = CURRENT_TIMESTAMP
        WHERE comId = #{comId}
    </update>
    <!--  댓글 삭제  -->
    <delete id="deleteComment" parameterType="String">
        DELETE
        FROM boardComment
        WHERE comId= #{comId}
    </delete>


    <!--최영주-->



    <!--최재혁-->



</mapper>