<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.CategoriesMapper">

    <!--신수진-->



    <!--최경락-->



    <!--최영주-->



    <!--최재혁-->



</mapper>