<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.MVCBoardMapper">
    <select id="selectCount" parameterType="map" resultType="int">
        select count(*)
        from mvcboard
        <if test="searchWord != null and !searchWord.equals('')">
            where
            <choose>
                <when test="searchField == 'title'">
                    title like concat('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    content like concat('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
        order by idx desc
    </select>

    <insert id="insertWrite" parameterType="dto.MVCBoardDTO">
        INSERT
        INTO mvcboard(name, title, content, ofile, sfile, pass)
        VALUES(#{name}, #{title}, #{content}, #{ofile}, #{sfile}, #{pass})
    </insert>

    <select id="selectListPage" parameterType="map" resultType="dto.MVCBoardDTO">
        <![CDATA[
        SELECT *
        FROM mvcboard
        WHERE idx > 0
        ]]>
        <if test="searchWord != null and !searchWord.equals('')">
            AND
            <choose>
                <when test="searchField == 'title'">
                    title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    content LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
        order by idx desc
        LIMIT #{start}, 10
    </select>

    <select id="selectView" parameterType="String" resultType="dto.MVCBoardDTO">
        select *
        from mvcboard
        where idx = #{idx}
<!--Expected one result (or null) to be returned by selectOne(), but found: 41
   if nothing match, return null
-->
    </select>

    <update id="updateVisitCount" parameterType="String">
        update mvcboard
        set visitcount = visitcount + 1
        where idx = #{idx}
<!--        이 실행 결과로 인해서 실제 update된 row의 개수를 return-->
    </update>

    <update id="downCountPlus" parameterType="String">
        update mvcboard
        set downcount = downcount + 1
        where idx = #{idx}
    </update>

    <select id="confirmPassword" parameterType="map">
        select COUNT(*)
        from mvcboard
        where pass = #{pass} and idx = #{idx}
    </select>

    <delete id="deletePost">
        delete
        from mvcboard
        where idx = #{idx}
    </delete>

    <update id="updatePost" parameterType="dto.MVCBoardDTO">
        update mvcboard
        set title = #{title}, name = #{name},
            content = #{content}, ofile = #{ofile}, sfile = #{sfile}
        where idx = #{idx} and pass = #{pass}
    </update>
</mapper>