<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.UserMapper">

    <!--신수진-->



    <!--최경락-->

    <!--최영주-->
    <update id="updateUserRptCnt" parameterType="String">
        update user
        set report_cnt = report_cnt + 1
        where user_id = #{userId}
    </update>


    <!--최재혁-->
    <insert id="createUser" parameterType="dto.UserDTO">
        INSERT
        INTO user(user_id, user_nick, user_pwd, user_name, user_cp, user_email, user_addr, user_daddr, user_school, ofile, sfile)
        VALUES(#{userId}, #{user_nick}, #{userPwd}, #{userName}, #{userCp}, #{userEmail}, #{userAddr}, #{userDaddr}, #{userSchool}, #{ofile}, #{sfile})
    </insert>

    <select id="authenticateUser" parameterType="map">
        select count (*)
        from user
        where user_id = #{user_id} AND user_pwd = #{user_pwd}
    </select>

    <select id="authenticateFind" parameterType="map">
        select user_id
        from user
        where user_name = #{user_name} AND user_email = #{user_email}
        limit 1
    </select>

    <select id="authenticateFindPass" parameterType="map">
        select count (*)
        from user
        where user_id = #{user_id} AND user_email = #{user_email} AND user_cp = #{user_cp}
    </select>

    <update id="updatePass" parameterType="dto.UserDTO">
        update user
        set user_pwd = #{userPwd}
        where user_id = #{userId}
    </update>

    <update id="updateUserInfo" parameterType="dto.UserDTO">
        update user
        set user_pwd = #{userPwd}, user_nick = #{user_nick}, user_cp = #{userCp}, user_email = #{userEmail}, user_addr = #{userAddr}, user_daddr = #{userDaddr}
        where user_id = #{userId}
    </update>


    <select id="authenticateStatus" parameterType="String">
        select user_status
        from user
        where user_id = #{userId}
    </select>

    <select id="idCheck" parameterType="String">
        select count (*)
        from user
        where user_id = #{userId}
    </select>

    <select id="authenticateAdmin" parameterType="String">
        select user_grade
        from user
        where user_id = #{userId}
    </select>

    <select id="userSelectView" parameterType="String" resultType="dto.UserDTO">
        select *
        from user
        where user_id = #{userId}
    </select>

    <delete id ="userSelfDelete" parameterType="String">
        delete
        from user
        where user_id = #{userId}
    </delete>

    <select id ="userSelectNonPassCount" parameterType="Map" resultType="int">
        <![CDATA[
        select count(*)
        from user
        where user_status = 'reject'
          ]]>
        <if test="searchWord != null and !searchWord.equals('')">
            AND
            <choose>
                <when test="searchField == 'userId'">
                    user_id LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    user_name LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
    </select>

    <select id ="userSelectNonPassPage" parameterType="Map" resultType="dto.UserDTO">
        <![CDATA[
        select *
        from user
        where user_status = 'reject'
          ]]>
        <if test="searchWord != null and !searchWord.equals('')">
            AND
            <choose>
                <when test="searchField == 'userId'">
                    user_id LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    user_name LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
        order by user_id desc
        LIMIT #{start}, 10
    </select>

    <select id ="userSelectReportCount" parameterType="Map" resultType="int">
        <![CDATA[
        select count(*)
        from user
        where user_status = 'pass'
          ]]>
        <if test="searchWord != null and !searchWord.equals('')">
            AND
            <choose>
                <when test="searchField == 'userId'">
                    user_id LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    user_name LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
    </select>

    <select id ="userSelectReportPage" parameterType="Map" resultType="dto.UserDTO">
        <![CDATA[
        select *
        from user
        where user_status = 'pass'
          ]]>
        <if test="searchWord != null and !searchWord.equals('')">
            AND
            <choose>
                <when test="searchField == 'userId'">
                    user_id LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    user_name LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
        ORDER BY report_cnt DESC
        LIMIT #{start}, 10
    </select>

    <update id="updateUserDrop" parameterType="String">
        update user
        set user_status = 'reject'
        where user_id = #{userId}
    </update>

    <update id="updateUserPass" parameterType="String">
        update user
        set user_status = 'pass'
        where user_id = #{userId}
    </update>

    <update id="updateUserPending" parameterType="String">
        update user
        set user_status = 'pending'
        where user_id = #{userId}
    </update>






</mapper>