@charset "UTF-8";


#btn{height:30px; cursor:pointer; margin:0 auto; text-align:right; line-height:50px; }



#slideTogglebox{width:110px; height:100px; background-color: #ffffff; display:none; font-size:10px;}

li{
	list-style-type: none;
}

#slideTogglebox li a{
	padding-right: 2px;
}

#slideTogglebox > li > a:hover, .nav > li > a:focus {
	background-color: #fff;
}